
/*********************CUSTOM CSS************************/
/*LOGIN PAGE  START */
body#login-body{
background-color: #033e76;
}
div#logo>img{
	width:80px;
	height:80px;
}

input.button-go{
	background-color: #033e76!important;
    color: #fff!important;
	border-radius: 6px;
	border: 1px solid transparent;

}
h1.button-go{
	background-color:#031e38!important;
	color: #e7e7e7!important;
	background: transparent;
    margin-top: 4%!important;
    border: 0px;
}
input.button-go:hover{
	background-color:#fff!important;
	color: #031e38!important;
}
#login>form,h1.button-go{
	background-color: #031e38;
    box-shadow: 5px 5px 15px #000;
    border-radius: 15px;
}
#gly-user,#gly-lock{
	background-color: #033e76;
    color: #ffffff;
	border: 1px solid transparent;
}
#login_form>.input-group{
	padding: 10px 0 10px 0;
}
#login_form>.input-group>input{
	border: 1px solid transparent;
}
#login_form>.input-group>input:focus{
	border-color:#000;
}

/*LOGIN PAGE END*/



/* HEADER START*/
#logo-div >a> img{
	margin:10px 0 10px 0;
	width:70px;
	height:70px;
	border: 1px solid #e7e7e7;
	border-radius: 50%;
}
/*HEADER END*/

.reports-div{
	padding: 10px;
}
.reports-div > div{
	width: 95%;
    margin: 0px auto;
    float: none;
    text-align: center;
    border: 1px solid #2fa4e7;
    box-shadow: 6px 4px 8px #bad6e6;
}
.reports-div > div > a{
	padding: 50px;
	font-size: 25px;
	color: #2fa4e7;
}
.reports-div > div > a:hover{
	text-decoration: none;
    color: #ffffff;
    background-color: #2fa4e7;
}


/*RECEIPT CSS*/
.main{
	width: 100%;
	padding: 10px 10px 10px 10px!important;
}
.fleft{
	float:left;
}
.tright{
	text-align: right;
}
.tleft{
	text-align: left;
}
.desk{
	width: auto;
	margin:0px auto;
	float:none;
	text-align: center;
}
.left,.right{
	width: 48%;
	padding:0 20px 0 20px;
}
.hr{
	background-color: #012257;
	height: 1px;
}
.logo{
	text-align: right;
}
.logo img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #a7a7a7;
}
.details{
	width: 100%;
}
.details  th{
	width: 20%;
}
.receipt{
	width: 100%;
	background-color: #efefef;
}
.receipt th{
	width: 20%;
}
.head{
	background-color: #012257;
}
.head > th{
	padding: 15px;
	color: #fff;
	/*#efefef*/
}
.receipt tbody{
	background-color: #efefef;
	padding-bottom: 50px;
}
.rec-tbody>tr>td{
	padding: 10px
}

.thank-y { 
	font-family: "Brush Script MT", cursive;
  	font-style: normal;
  	font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    margin-top: 55px;
    margin-right: 15px;
    font-size: 3rem;
 }
